<html>
<head>
    <title></title>
</head>
<body>
    <style>
        html
        {
            height: 100%;
            overflow: hidden;
  font-family: sans-serif;
        }

        body
        {
            margin: 0;
            padding: 0;
            perspective: 1px;
            transform-style: preserve-3d;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: black;
        }

        h1
        {
            font-size: 250%;
        }

        p
        {
            font-size: 140%;
            line-height: 150%;
            color: #333;
        }

        .slide
        {
            position: relative;
            padding: 25vh 10%;
            min-height: 100vh;
            width: 100vw;
            box-sizing: border-box;
            box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
            transform-style: inherit;
        }

        img
        {
            position: absolute;
            top: 50%;
            left: 35%;
            width: 320px;
            height: 240px;
            transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
            padding: 10px;
            border-radius: 5px;
            background: rgba(240,230,220, .7);
            box-shadow: 0 0 8px rgba(0, 0, 0, .7);
        }

            img:last-of-type
            {
                transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
            }

        .slide:before
        {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .title
        {
            width: 50%;
            padding: 5%;
            border-radius: 5px;
            background: rgba(240,230,220, .7);
            box-shadow: 0 0 8px rgba(0, 0, 0, .7);
        }

        .slide:nth-child(2n) .title
        {
            margin-left: 0;
            margin-right: auto;
        }

        .slide:nth-child(2n+1) .title
        {
            margin-left: auto;
            margin-right: 0;
        }

        .slide, .slide:before
        {
            background: 50% 50% / cover;
        }

        .header
        {
            text-align: center;
            font-size: 175%;
            color: #fff;
            text-shadow: 0 2px 2px #000;
        }

        #title
        {
            background-image: url('../Content/Images/light.jpg');
            background-attachment: fixed;
           
        }

        #slide1:before
        {
            background-image: url('../Content/Images/dark.jpg');
            transform: translateZ(-1px) scale(2);
            z-index: -1;
        }

        #slide2
        {
            background-image: url('../Content/Images/practice.jpg');
            background-attachment: fixed;
        }

        #slide3:before
        {
            background-image: url('../Content/Images/notes.jpg');
            transform: translateZ(-1px) scale(2);
            z-index: -1;
        }
    </style>

    <div id="title" class="slide header">
        <h1>Conscience Monster</h1>
    </div>

    <div id="slide1" class="slide">
        <div class="title">
            <h1>December 17</h1>
            <p>The day after December 16.  Oh, what a day.  Turn it around and you get 71, one less than 9 times 8, whose sum is 17, one more than 16.</p>
        </div>
    </div>

    <div id="slide2" class="slide">
        <div class="title">
            <h1>Lost My Dog</h1>
            <p>Lost my cat.  Can't find my baseball bat.</p>
        </div>
    </div>

    <div id="slide3" class="slide">
        <div class="title" style="background-color: black; color: white;">
            <h1>Incendiary</h1>
            <p style="color: white;">Blowin' up</p>
        </div>
    </div>
</body>
</html>



